@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #05010e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container perspective */
.container{
    perspective: 1200px;
}

/* Cube wrapper */
.cube{
    width: 350px;
    height: 470px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
}

/* Both sides */
.side{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 25px #00eaff;
}

/* LOGIN front */
.login-side{
    transform: rotateY(0deg) translateZ(175px);
}

/* SIGNUP back */
.signup-side{
    transform: rotateY(180deg) translateZ(175px);
}

h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

/* Input wrapper */
.input-box{
    position: relative;
    width: 100%;
}

/* Inputs */
input{
    width: 100%;
    padding: 12px 45px 12px 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
}

input::placeholder{
    color: #ddd;
}

/* Monkey eye icon */
.monkey-eye{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

/* Hidden password = dots */
input[type="password"] {
    -webkit-text-security: disc !important;
}

/* Visible password = spade symbols */
.show-spade {
    -webkit-text-security: none !important;
    font-family: Arial;
    letter-spacing: 2px;
}

/* Buttons */
.run-btn{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg,#00eaff,#ff00aa);
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
    position: relative;
}

/* Switch text */
.switch{
    text-align: center;
    margin-top: 15px;
    color: #00eaff;
    cursor: pointer;
}

/* RUNNING BUTTON ANIMATION */
.move{
    transform: translateX(80px);
}
